<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form action="register" method="post">
        {% csrf_token %}

        First nme : <input type="text" name="first_name" placeholder="First Name"><br>
        Last Name : <input type="text" name="last_name" placeholder="Last Name"><br>
        Username  : <input type="text" name="username" placeholder="username"><br>
        Email     : <input type="email" name="email" placeholder="email"><br>
        Password  : <input type="password" name="password1" placeholder="password"><br>
        Conf Pass : <input type="password" name="password2" placeholder="confirm password"><br>
        <input type="submit"><br>

    </form>

    <div>
        {% for message in messages %}
        <h3> {{ message }}</h3>
        {% endfor %}
    </div>
</body>
</html>